<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section style="box-sizing: border-box; background-color: rgb(255, 255, 255);">
    
    <section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;">
        <section class="" style="text-align: center; margin-top: 10px; margin-bottom: 10px; position: static; box-sizing: border-box;">
            <img style="max-width: 100%; vertical-align: middle; box-sizing: border-box;" class="" src="http://mexue-notice-file.img-cn-beijing.aliyuncs.com/594240528da262589e20ba64"/>
        </section>
    </section>
    <section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;">
        <section class="" style="text-align: center; margin: 10px 0% 0px; position: static; box-sizing: border-box;">
            <img style="max-width: 100%; vertical-align: middle; width: 28%; box-sizing: border-box;" class="" src="http://mexue-notice-file.img-cn-beijing.aliyuncs.com/594240528da262589e20ba65"/>
        </section>
    </section>
    
</section>
</body>
</html>
