<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section style="box-sizing: border-box; background-color: rgb(255, 255, 255);">
    
    <section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;">
        <section class="" style="position: static; box-sizing: border-box;">
            <section class="" style="font-size: 15px; line-height: 2; box-sizing: border-box;">
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    用料：柚子半个、蜂蜜200g、冰糖半袋、盐适量
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    做法：
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    <span style="letter-spacing: 0px; line-height: 2; box-sizing: border-box;">1.将柚子洗干净，用小刀削大概1/3柚子的皮就可以了，注意不要多削白色的瓤；</span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    <span style="letter-spacing: 0px; line-height: 2; box-sizing: border-box;">2.把削好的柚子皮放在盐水中浸泡一会，再捞出来切丝；</span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    <span style="letter-spacing: 0px; line-height: 2; box-sizing: border-box;">3.&nbsp;把切好的丝放在盐水中浸泡一会，把苦涩的味道泡去；</span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    <span style="letter-spacing: 0px; line-height: 2; box-sizing: border-box;">4.&nbsp;将柚子肉放在锅中加水用小火熬煮；</span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    <span style="letter-spacing: 0px; line-height: 2; box-sizing: border-box;">5.&nbsp;当柚子肉散落成一颗一颗的时候，放入冰糖和一半柚子皮，不停搅拌；</span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    <span style="letter-spacing: 0px; line-height: 2; box-sizing: border-box;">6.&nbsp;当锅里水分减少变得浓稠时，再放入另外一半柚子皮，不停搅拌；</span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    <span style="letter-spacing: 0px; line-height: 2; box-sizing: border-box;">7.&nbsp;当锅里的柚子变成晶莹剔透时，关火，晾凉；</span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    <span style="letter-spacing: 0px; line-height: 2; box-sizing: border-box;">8.&nbsp;加入蜂蜜搅拌，装瓶放入冰箱冷藏；</span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    <span style="letter-spacing: 0px; line-height: 2; box-sizing: border-box;">9.&nbsp;饮用时取出适量，冲入温水即可，喜欢喝冰的就加点冰块。</span>
                </p>
            </section>
        </section>
    </section>
    
</section>
</body>
</html>
