<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section style="box-sizing: border-box; background-color: rgb(255, 255, 255);">
    
    <section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;">
        <section class="" style="position: static; box-sizing: border-box;">
            <section class="" style="font-size: 15px; line-height: 2; box-sizing: border-box;">
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    用料：水蜜桃1个、雪碧1瓶、糖1勺、柠檬汁少许
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    做法：
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    1.水蜜桃切块加糖腌制出水；
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    &nbsp;2.加入水、柠檬汁将水蜜桃块煮到软烂；
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box;">
                    3.将桃子块去皮与汁水冰起来，喝的时候取出冲入雪碧即可。<br/>（除了以上，还可以在雪碧中加入红酒、米酒、果珍、荔枝、樱桃等等，都很美味~ &nbsp;）
                </p>
            </section>
        </section>
    </section>
    <section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;">
        <section class="" style="text-align: center; margin-top: 10px; margin-bottom: 10px; position: static; box-sizing: border-box;">
            <img style="max-width: 100%; vertical-align: middle; box-sizing: border-box;" class="" src="http://mexue-notice-file.img-cn-beijing.aliyuncs.com/594240538da262589e20ba68"/>
        </section>
    </section>
</section>
</body>
</html>
